<!-- Welcome to my website! -->
<!-- visit https://github.com/supersecuredev/website for more info! -->

<link rel="stylesheet" href="/static/style.css" type="text/css">

{% block body %}

<xmp>{{ cat_art }}</xmp>
<form action="/cat" method="POST">
	<div class="cat">
	<div class="app-title">
		<h1>Catsay</h1>
	</div>
	<div class="login-form">
	<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="input speech here" name="input">
	<label class="login-field-icon fui-user" for="cat say"></label></div>

	<input type="submit" value="submit" class="btn btn-primary btn-large btn-block">

	</div>
	
	</div>
</form>

{% endblock %}